.card .card-title{
	font-weight: 600;
}
.margin-number{
	margin-bottom: 10px;
}
.card .card-content .card-title{
	margin-bottom: 0 !important;
}
.patrocinado-text{
	font-size: 10px;
}
.lateral-text p{
	font-size: 12px;
}